@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a {
    text-decoration: 0;
    font-size: 13px;
}


body ,html{
    background-color: rgb(14, 17, 17);
    
}
body{
height: 100vh ;
} 

/*Scrollbar CSS**/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 30px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    width: 100%;
    top:0px ;
    background-color:#3bcdeb ;
    z-index:3 ;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img {
    width: 40px;
    height: 40px;
}
header .logo h1 {
    font-size: 30px;
    color: rgb(247, 243, 7);
}
.menu {
    display: flex;
    color: #fff;
}
.menu li {
    margin-left:50px;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: #fff;
}
p , h4 {
color: #fff;
}
.menu li a {
    color: #fff;
    transition: 0.5s;
}
.menu li a:hover {
    color: #53b758;
    font-size: 15px;
}
.menu li:hover::after {
    content: "";
    position: absolute;
    height: 30px;
    z-index: -1;
    width: 30px;
    background-color: rgb(247, 231, 9);
    border-radius: 50%;
}
.number {
    font-size: 14px;
    color: #fff;
    padding: 10px 25px;
    background: linear-gradient(#53B758,#79BC23);
    border-radius: 60px;
}

/* home CSS */
.home {
    padding: 0 5%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 200px);
}
.home .left {
    width: 55%;
}
.home .right {
    width: 40%;
    height: 100%;
}
.home .right  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    box-shadow:  0 0 10px rgba(0,0,0,0.4);
}
.home .left h1 {
    font-size: 50px;
    color: #f8e807;
    font-weight: 100;
    padding: 0;
    margin-left: -8px;
    margin-bottom: -10px;
}
.home .left h1 span {
    color: rgb(249, 249, 250);
}
.home .left h4 {
    font-weight: 500;
    font: 25px;
    margin-bottom: 10px;
    color: rgb(17, 10, 121);
    text-transform: capitalize;
}
.home .left p {
    font-size: 14px;
    color: white;
}

.button-link {
    margin-top: 30px;
    border: 0;
    background:transparent;
}
.button-link a {
    font-size: 14px;
    color: #fff;
    padding: 10px 25px;
    background: linear-gradient(#53B758,#79BC23);
    border-radius: 60px;
    text-transform: uppercase;
    line-height: 1px;
}

/*Services CSS*/

section {
    padding: 0 5%;
    margin-bottom:50px;
}
.title {
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;
}
.title::after {
    content: "";
    position: absolute;
    top: 80%;
    left: -30px;
    z-index: -2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(#53B758,#79BC23);
}
.title::before {
    content: "";
    position: absolute;
    top: 32px;
    left: -15px;
    z-index: -1;
    height: 30px;
    width: 30px;
    background-color: rgb(14, 13, 13);
}
.small_title {
    font-size: small;
    color: white;
}
.list_service {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.serv {
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    width:270px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.serv img {
    width: 100px;
    margin-bottom: 10px;
}

/*About CSS*/

.list_about {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.list_about  h1 {
    font-size: 110px;
    color: #79BC23;
}
.list_about .description {
    margin-left: 0px;
}
.list_about .description h3 {
    color: white;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.list_about .description p {
    font-size: 15px;
    color: white;
}
/*Contact CSS*/
.form-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-image  form {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.form-image  form input , textarea {
    margin:  10px 0;
    padding: 15px;
    border-radius: 30px;
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    resize: none;
    width: 100%;
}
.form_btn {
    width: fit-content;
    margin-top: 20px;
}
.image {
    width: 60%;
}
.image img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
footer {
    background-color: #4f4f4f;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0px;
}
.small_menu {
    display: none;
}
/*Mobile Responsive*/
@media (max-width:600px) {
    header .logo h1 {
        font-size: 15px;
    }
    header .logo img {
        width: 30px;
        height: 30px;
    }
    header .menu {
        display: none;
    }

    .number {
        display: none;
    }
    .home {
        flex-direction: column-reverse;
        height: fit-content;
    }
    .home .left , .home .right {
        width: 100%;
    }
    .home .right {
        height: 350px;
    }
    .home .left {
        margin: 20px 0;
    }

    .home .left h1 {
        font-size: 25px;
    }
    .home .left h4 {
        font-size: 18px;
    }
    .home .left p {
        font-size: 11px;
    }
    .title {
        font-size: 19px;
    }
    .list_service .serv {
        width: 100%;
        margin-bottom: 50px;
    }
    .list_about h1 {
        font-size: 50px;
    }
    .list_about .description h3 {
        font-size: 12px;
    }
    .list_about .description p {
        font-size: 10px;
    }
    .form-image .image {
        display: none;
    }
    .form-image form {
        width: 100%;
    }
    footer {
        font-size: 10px;
    }

    /*Responsive Menu*/
    .small_menu{
        display: flex;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 50%;
        transition: 0.5s;
       
    }
    .small_menu span {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
    }
    .small_menu span div {
        height: 100px;
        width: 11px;
        background-color: #1506f2;
        border-radius: 0px;
    }
    .small_menu.active {
        justify-content: center;
        align-items: unset;
    }
    .small_menu.active span:nth-child(1){
        display: none;
    }
.small_menu.active span {
        display: flex;
        flex-direction: unset;
        height: 90%;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .small_menu.active span div {
        height: 100px;
        width: 10px;
        border-radius: 6px;
        transition: 0.5s;
    }
    .small_menu.active span div:nth-child(1){
        transform: rotate(45deg);
    }
    .small_menu.active span div:nth-child(2){
        transform: rotate(-45deg);
    }
    header .menu.small{
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: rgba(6 16 129 /0.9);
        flex-direction: column;
        width: 100%;
        
        color: #ffffff ;

    }
    header .menu.small li {
        margin: 15px 0;
        color: #ffffff ;
    }
    header .menu.small li a {

        

        color: #ffffff ;
    }



}
